<div class = "card mat-card">
    <h2>Educacion</h2>

    <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let educacionFormal of educacionFormalList">
      <div class="data-container row align-items-center">
          <div class="logo-image-container col-1">
            <img
              [src]="educacionFormal.logoInstitucion"
              class="logo-image img-fluid" [alt]="educacionFormal.descripcionLogoInstitucion" />

          </div>
          <div class="list-info col-8">
            <h4>{{educacionFormal.titulo}}</h4>
            <h5>{{educacionFormal.institucion}}</h5>
            <h6>{{educacionFormal.inicio}} - {{educacionFormal.fin}}</h6>
            <p>
              {{educacionFormal.observaciones}}
            </p>
          </div>
      </div>
    </li>
    
   </ul>

   <h3>Cursos</h3>

   <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let cursos of cursosList">
      <div class="data-container row align-items-center">
          <div class="logo-image-container col-1">
            <img
              [src]="cursos.logoInstitucion"
              class="logo-image img-fluid" [alt]="cursos.descripcionLogoInstitucion" />

          </div>
          <div class="list-info col-8">
            <h5>{{cursos.titulo}}</h5>
            <h6>{{cursos.institucion}}</h6>
            <p>{{cursos.fin}}</p>

          </div>
      </div>
    </li>
    
   </ul>
    
  </div>
