<div class = "card mat-card">
    <h2>Educacion</h2>

    <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let educacionFormal of educacionFormalList">
      <div class="data-container row align-items-center">
          <div class="logo-image-container col-1">
            <img
              [src]="empresaInstitucionList[educacionFormal.empresa_institucion_id - 1].url_logo"
              class="logo-image img-fluid" [alt]="empresaInstitucionList[educacionFormal.empresa_institucion_id - 1].alt_text_logo" />

          </div>
          <div class="list-info col-8">
            <h4>{{educacionFormal.titulo}}</h4>
            <h5>{{empresaInstitucionList[educacionFormal.empresa_institucion_id - 1].nombre}}</h5>
            <h6>{{educacionFormal.fecha_inicio}} - {{educacionFormal.fecha_fin}}</h6>
            <p>
              {{educacionFormal.descripcion}}
            </p>
          </div>
      </div>
    </li>
    
   </ul>

   <h3>Cursos</h3>

   <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let cursos of cursosList">
      <div class="data-container row align-items-center">
          <div class="logo-image-container col-1">
            <img
              [src]="cursos.logoInstitucion"
              class="logo-image img-fluid" [alt]="cursos.descripcionLogoInstitucion" />

          </div>
          <div class="list-info col-8">
            <h5>{{cursos.titulo}}</h5>
            <h6>{{cursos.institucion}}</h6>
            <p>Finalización: {{cursos.fin}}</p>

          </div>
      </div>
    </li>
    
   </ul>
    
  </div>
