<!-- INICIAR SESION COMPONENT -->

<div class="iniciar-sesion mat-card">
  <h1 class="m-5">Iniciar Sesión</h1>

  <form [formGroup]="form" class="m-5" (ngSubmit)="onEnviar($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="username" placeholder="Email"
        [ngClass]="{'is-invalid': Email?.errors && Email?.touched, 'is-valid': !Email?.errors && Email?.touched}"
        class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div *ngIf="Email?.errors && Email?.touched">
        <p *ngIf="Email?.hasError('required')" class="text-danger">
          El email es un campo requerido.
        </p>
        <p *ngIf="Email?.hasError('email')" class="text-danger">
          El formato del email debe ser válido.
        </p>
      </div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" formControlName="password" placeholder="Contraseña"
        [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
        class="form-control" id="exampleInputPassword1">
    </div>
    <div *ngIf="Password?.errors && Password?.touched">
      <p *ngIf="Password?.hasError('required')" class="text-danger">
        La constraseña es un campo requerido.
      </p>
      <p *ngIf="Password?.hasError('minlength')" class="text-danger">
        La constraseña debe tener 7 o más caracteres.
      </p>
    </div>

    <div>
      <button id="submitIniciarSesion" type="submit" class="btn btn-primary d-inline">Enviar <span
          id="spinnerIniciarSesion" class="spinner-border spinner-border-sm d-none" role="status"
          aria-hidden="true"></span></button>
      <div id="authErrorMessage" class="d-inline ms-3 d-none">
        <small id="passwordHelp" class="text-danger">
          Error de autenticación: El usuario o contraseña son incorrectos.
        </small>
      </div>
    </div>
  </form>

</div>