<div class = "card mat-card">
    <h2>Proyectos</h2>

    <div class="row">
      <div class="col-sm-4" *ngFor="let proyecto of proyectosList">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{proyecto.tituloProyecto}}</h5>
            <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
            <a [href]="proyecto.linkProyecto" class="btn btn-outline-success">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  
 </div>
