<!--EXPERIENCIA-->

<div id="experienciaDiv" class="card mat-card">
  <h2 class="d-inline">Experiencia
    <button class="btn btn-edit btn-lg d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
      (click)="showById('nueva_experiencia'); scrollToDiv('nueva_experiencia')">
      <i class="bi bi-plus-circle bi-dark"></i>
    </button>
  </h2>

  <!--LISTA DE EXPERIENCIAS CON OPCION PARA EDITS Y BORRAR-->

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let experiencia of experienciaList">
      <div class="data-container row align-items-center">
        <div class="logo-image-container col-1">
          <img [src]="experiencia.empresa_institucion_url_logo" class="logo-image img-fluid"
            [alt]="experiencia.empresa_institucion_alt_text_logo" />
        </div>

        <div class="list-info col-9">
          <h4 class="d-inline">{{experiencia.rol}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="showById('rol_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </h4>
          <div [id]="'rol_' + experiencia.id" class="d-none">
            <p class="d-inline">Rol: <input type="text" class="mx-2" [value]="experiencia.rol" size="40" #nuevo_rol
                (keyup.enter)="editExperiencia(experiencia, 'rol', nuevo_rol.value, 'rol_' + experiencia.id)">
            </p>
          </div>


          <h5>{{experiencia.empresa_institucion_nombre}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="showById('empresa_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </h5>
          <div [id]="'empresa_' + experiencia.id" class="d-none">
            <p class="d-inline">Empresa:
              <select required #empresa
                (change)="editExperiencia(experiencia, 'empresa_institucion_id', empresa.value, 'empresa_' + experiencia.id)">
                <option value="" disabled selected>Seleccione la empresa</option>
                <option *ngFor="let empresa of empInstList" [value]="empresa.id">{{empresa.nombre}}</option>
              </select>
              Para editar o agregar una empresa o institución, navegar a <a class="link-primary"(click)="scrollToDiv('seccion_emp_inst_exp')">Empresas e Instituciones</a>.
            </p>
          </div>

          <div>
            <h6 class="d-inline">{{experiencia.fecha_inicio}}
              <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
                (click)="showById('fecha_inicio_'  + experiencia.id)">
                <i class="bi bi-pencil"></i>
              </button>
              - {{experiencia.fecha_fin}}
              <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
                (click)="showById('fecha_fin_empleo_actual_' + experiencia.id)">
                <i class="bi bi-pencil"></i>
              </button>
            </h6>
          </div>

          <div [id]="'fecha_inicio_' + experiencia.id" class="d-none">
            <p class="d-inline">Fecha inicio: <input type="date" [value]="cortarFecha(rawDataExperiencia[experienciaList.indexOf(experiencia)].fecha_inicio)" #nueva_fecha_inicio
                (keyup.enter)="editExperiencia(experiencia, 'fecha_inicio', nueva_fecha_inicio.value, 'fecha_inicio_' + experiencia.id)">
            </p>
          </div>

          <div [id]="'fecha_fin_empleo_actual_' + experiencia.id" class="d-none">
            <fieldset [id]="'fecha_fin_' + experiencia.id" class="d-inline">
              <p class="d-inline mx-2">Fecha fin: <input type="date" [value]="cortarFecha(rawDataExperiencia[experienciaList.indexOf(experiencia)].fecha_fin)" #nueva_fecha_fin
                  (keyup.enter)="editFechaFin(experiencia, nueva_fecha_fin.value, 'fecha_fin_empleo_actual_' + experiencia.id)">
              </p>
            </fieldset>
            <p [id]="'edit_es_empleo_actual_' + experiencia.id" class="d-inline">Es empleo actual? <input type="checkbox"
                class="m-2" [checked]="experiencia.es_trabajo_actual" #empleo_actual
                (change)="onCheckboxTrabajoActualChange($event, experiencia, 'fecha_fin_empleo_actual_' + experiencia.id)">
            </p>
          </div>

          <p>
            {{experiencia.descripcion}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="showById('descripcion_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </p>
          <div [id]="'descripcion_' + experiencia.id" class="d-none">
            <p class="d-inline">Descripción: <textarea type="text" class="mx-2 align-middle d-inline" [value]="experiencia.descripcion" rows="2" cols="100" #nueva_descripcion
                (keyup.enter)="editExperiencia(experiencia, 'descripcion', nueva_descripcion.value, 'descripcion_' + experiencia.id)"></textarea>
            </p>
          </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-1">
          <button class="btn" *ngIf="autenticacionServicio.isLoggedIn()" (click)="borrarExperiencia(experiencia.id)">
            <i class="bi bi-trash m-3"></i>
          </button>
        </div>
      </div>
    </li>

    <!--NUEVA EXPERIENCIA-->

    <li id="nueva_experiencia" class="d-none">
      <h4>Nueva experiencia</h4>
      <div>
        <p class="d-inline">Rol: <input type="text" class="m-2" #rol_nueva_experiencia
            (blur)="crearObjetoExperiencia('rol', rol_nueva_experiencia.value)">
        </p>
      </div>
      <div>
        <p class="d-inline">Empresa:
          <select required #empresa (change)="crearObjetoExperiencia('empresa_institucion_id', empresa.value)">
            <option value="" disabled selected>Seleccione la empresa</option>
            <option *ngFor="let empresa of empInstList" [value]="empresa.id">{{empresa.nombre}}</option>
          </select>
          Para editar o agregar una empresa o institución, navegar a <a class="link-primary"(click)="scrollToDiv('seccion_emp_inst_exp')">Empresas e Instituciones</a>.
        </p>
      </div>
      <div>
        <p class="d-inline">Fecha de inicio: <input type="date" class="m-2" placeholder="YYYY-MM-DD"
            #fecha_inicio_nueva_experiencia
            (blur)="crearObjetoExperiencia('fecha_inicio', fecha_inicio_nueva_experiencia.value)">
        </p>
      </div>
      <div>
        <p class="d-inline">Es empleo actual? <input type="checkbox" class="m-2" #empleo_actual_nueva_experiencia
            (change)="agregarEmpleoActualObjetoExperiencia($event)">
        </p>
      </div>
      <div id="fecha_fin_nueva_experiencia">
        <p class="d-inline">Fecha de fin: <input type="date" class="m-2" placeholder="YYYY-MM-DD"
            #fecha_fin_nueva_experiencia
            (blur)="agregarFechaFinObjetoExperiencia(fecha_fin_nueva_experiencia.value)">

        </p>
      </div>
      <div>
        <p class="d-inline">Descripción: <input type="text" class="m-2" #descripcion_nueva_experiencia
            (blur)="crearObjetoExperiencia('descripcion', descripcion_nueva_experiencia.value)">
        </p>
      </div>
      <button class="btn btn-outline-primary btn-sm" (click)="crearExperiencia()">Submit</button>
    </li>

  </ul>

</div>