<div class="card mat-card">
  <h2 class="d-inline">Experiencia
    <button class="btn btn-edit btn-lg d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
      (click)="mostrarById('nueva_experiencia')">
      <i class="bi bi-plus-circle bi-dark"></i>
    </button>
  </h2>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let experiencia of experienciaList">
      <div class="data-container row align-items-center">
        <div class="logo-image-container col-1">
          <img [src]="experiencia.empresa_institucion_url_logo" class="logo-image img-fluid"
            [alt]="experiencia.empresa_institucion_alt_text_logo" />
        </div>

        <div class="list-info col-9">
          <h4 class="d-inline">{{experiencia.rol}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="mostrarById('rol_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </h4>
          <div [id]="'rol_' + experiencia.id" class="d-none">
            <p class="d-inline">Rol: <input type="text" class="mx-2" #nuevo_rol
                (keyup.enter)="editData('experiencia', experiencia, 'rol', nuevo_rol.value, 'rol_' + experiencia.id)">
            </p>
          </div>


          <h5>{{experiencia.empresa_institucion_nombre}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="mostrarById('empresa_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </h5>
          <div [id]="'empresa_' + experiencia.id" class="d-none">
            <p class="d-inline">Empresa:
              <select required #empresa (change)="editData('experiencia', experiencia, 'empresa_institucion_id', empresa.value, 'empresa_' + experiencia.id)">
                <option value="" disabled selected>Seleccione la empresa</option>
                <option *ngFor="let empresa of empInstList" [value]="empresa.id">{{empresa.nombre}}</option>
              </select>
              Para editar o agregar una empresa o institución, navegar al sector correspondiente más abajo.
            </p>
          </div>

          <h6>{{experiencia.fecha_inicio}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="mostrarById('fecha_inicio_'  + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
            - {{experiencia.fecha_fin}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="mostrarById('fecha_fin_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </h6>
          <div [id]="'fecha_inicio_' + experiencia.id" class="d-none">
            <p class="d-inline">Fecha inicio: <input type="text" placeholder="YYYY-MM-DD" #nueva_fecha_inicio
                (keyup.enter)="editData('experiencia', experiencia, 'fecha_inicio', nueva_fecha_inicio.value, 'fecha_inicio_' + experiencia.id)">
            </p>
          </div>
          <div [id]="'fecha_fin_' + experiencia.id" class="d-none">
            <p class="d-inline mx-2">Fecha fin: <input type="text" placeholder="YYYY-MM-DD" #nueva_fecha_fin
                (keyup.enter)="editData('experiencia', experiencia, 'fecha_fin', nueva_fecha_fin.value, 'fecha_fin_' + experiencia.id)">
            </p>
          </div>

          <p>
            {{experiencia.descripcion}}
            <button class="btn btn-edit d-inline mx-2" *ngIf="autenticacionServicio.isLoggedIn()"
              (click)="mostrarById('descripcion_' + experiencia.id)">
              <i class="bi bi-pencil"></i>
            </button>
          </p>
          <div [id]="'descripcion_' + experiencia.id" class="d-none">
            <p class="d-inline">Descripción: <input type="text" class="mx-2" #nueva_descripcion
                (keyup.enter)="editData('experiencia', experiencia, 'descripcion', nueva_descripcion.value, 'descripcion_' + experiencia.id)">
            </p>
          </div>
        </div>

        <div class="col-1">
        </div>

        <div class="col-1">
          <button class="btn" *ngIf="autenticacionServicio.isLoggedIn()" (click)="borrarExperiencia(experiencia.id)">
            <i class="bi bi-trash m-3"></i>
          </button>
        </div>
      </div>
    </li>

    <li id="nueva_experiencia" class="d-none">
      <h4>Nueva experiencia</h4>
      <div>
        <p class="d-inline">Rol: <input type="text" class="m-2" #rol_nueva_experiencia
            (blur)="crearObjetoExperiencia('rol', rol_nueva_experiencia.value)">
        </p>
      </div>
      <div>
        <p class="d-inline">Empresa:
          <select required #empresa (change)="crearObjetoExperiencia('empresa_institucion_id', empresa.value)">
            <option value="" disabled selected>Seleccione la empresa</option>
            <option *ngFor="let empresa of empInstList" [value]="empresa.id">{{empresa.nombre}}</option>
          </select>
          Para editar o agregar una empresa o institución, navegar al sector correspondiente más abajo.
        </p>
      </div>
      <div>
        <p class="d-inline">Fecha de inicio: <input type="text" class="m-2" placeholder="YYYY-MM-DD"
            #fecha_inicio_nueva_experiencia
            (blur)="crearObjetoExperiencia('fecha_inicio', fecha_inicio_nueva_experiencia.value)">
        </p>
      </div>
      <div>
        <p class="d-inline">Fecha de fin: <input type="text" class="m-2" placeholder="YYYY-MM-DD"
            #fecha_fin_nueva_experiencia
            (blur)="crearObjetoExperiencia('fecha_fin', fecha_fin_nueva_experiencia.value)">
        </p>
      </div>
      <div>
        <p class="d-inline">Es empleo actual? <input type="checkbox" class="m-2" #empleo_actual_nueva_experiencia
            (change)="crearObjetoExperiencia('es_trabajo_actual', empleo_actual_nueva_experiencia.checked + '')">
        </p>
      </div>
      <div>
        <p class="d-inline">Descripción: <input type="text" class="m-2" #descripcion_nueva_experiencia
            (blur)="crearObjetoExperiencia('descripcion', descripcion_nueva_experiencia.value)">
        </p>
      </div>
      <button class="btn btn-outline-primary btn-sm" (click)="crearExperiencia()">Submit</button>
    </li>

  </ul>

</div>