<app-header></app-header>

<div class = "card mat-card">
  <h2>Acerca de</h2>

  <p>Hola! Mi nombre es Carolina y estoy empezando mi viaje en programaci[on. Empec[e a aprender los basicos de Java en 2021 y en 2022 comenc[e a incursionar en desarollo web. Durante el dia trabajo como analista de laboratorio en una empresa de bebidas. </p>
</div>

<div class = "card mat-card">
  <h2>Experiencia</h2>

  <p>As part of my Java learning experience in CodeCademy, I developed a bunch of small scale projects availabale in the associated repo in my GitHub.</p>
  <p>Following this, I focused in my first full project: a command line version of the popular game Wordle.</p>
  <p>Today, along with the creation of this portfolio, I'm exploring Web development.</p>
</div>

<div class = "card mat-card">
  <h2>Educaci[on</h2>

  <p>As part of my Java learning experience in CodeCademy, I developed a bunch of small scale projects availabale in the associated repo in my GitHub.</p>
  <p>Following this, I focused in my first full project: a command line version of the popular game Wordle.</p>
  <p>Today, along with the creation of this portfolio, I'm exploring Web development.</p>
</div>

<div class = "card mat-card">
  <h2>Skills</h2>

  <p>As part of my Java learning experience in CodeCademy, I developed a bunch of small scale projects availabale in the associated repo in my GitHub.</p>
  <p>Following this, I focused in my first full project: a command line version of the popular game Wordle.</p>
  <p>Today, along with the creation of this portfolio, I'm exploring Web development.</p>
</div>

<div class = "card mat-card">
  <h2>Proyectos</h2>

  <p>As part of my Java learning experience in CodeCademy, I developed a bunch of small scale projects availabale in the associated repo in my GitHub.</p>
  <p>Following this, I focused in my first full project: a command line version of the popular game Wordle.</p>
  <p>Today, along with the creation of this portfolio, I'm exploring Web development.</p>
</div>



<!--<script src = "front.js"></script> creo que es la conexion con javascript y se suele poner al final al parecer, verificar-->

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!--Links de contacto y redes: github, linkedin, gmail, proyectos. Poner los Links enbebidos en la palabra LinkedIN o en el Icono de LinkedIn, si de puede
Por ejemplo: <a href="http://www.w3c.es/noticias.html#premios">Tipo 3</a>-->
