<div class="card mat-card">
    <h2>Hard Skills</h2>
    <div class="chart-container">
        <canvas  id="MyChart" >{{ chart }}</canvas>
     </div>


    <!--Ver de poner algunos de los Skills como graficos tipo Doughnut, cer Chart.js tal vez para la implementación
    Y algunos otros ocn otra herramienta de visualización-->

    <h2>Soft Skills</h2>
    <div class="row">
        <div class="col-2" *ngFor="let softSkill of softSkillsList">
            <button type="button" class="btn btn-outline-secondary">{{softSkill}}</button>
        </div>
    </div>


</div>