<div class = "card mat-card">
    <div class="row align-items-center">
        <div class="col-2">
          <img [src]="header.logoTitulo" class="img-fluid">
        </div>
        
        <div class="col-2">
          <h4>{{header.titulo}}</h4>
        </div>
        
        <div class="col-5">
        </div>
        
        <div class="col-1">
          <a [href]="header.linkRedSocial1"><img [src]="header.logoRedSocial1"  class="img-fluid"></a>
        </div>
        <div class="col-1">
          <a [href]="header.linkRedSocial2"><img [src]="header.logoRedSocial2"  class="img-fluid"></a>
        </div>
        <div class="col-1">
            <button class = "btn btn-outline-info" type = "button">Login</button>
        </div>
      </div>
</div>
