<div class = "card mat-card">
    <div class="row align-items-center">
        <div class="col-2">
          <img [src]="header.url_logo_pagina" class="img-fluid">
        </div>
        
        <div class="col-2">
          <h4>{{header.titulo_pagina}}</h4>
        </div>
        
        <div class="col-5">
        </div>
        
        <div class="col-2 justify-content-end">
          <div class="logo-container" *ngFor="let redSocial of redSocialList">
            <a [href]="redSocial.url_red_social"><img [src]="redSocial.url_logo_red_social" class="red-social" alt={{redSocial.alt_text_logo}} ></a>
          </div>
          
        </div>

        <div class="col-1">
            <button class = "btn btn-outline-info login align-self-center" type = "button">Login</button>
        </div>
      </div>
</div>
